// Fuentes
$fuentePrincipal: 'Raleway', sans-serif;

//Colores
$primario: #c45e5e;
$secundario: #6b63c3;
$terciario: #62cb5f;
$negro: #000;
$blanco: #fff;
$grisClaro: #fdffe8;

//Unidades
$separacion: 5rem;
$steps: 5;